@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;

    /*noselect*/
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

$fullwhite: #FFFFFF;
$white:     #F1F1F1;
$grey:      #808080;
$darkgrey:  #292929;
$black:     #1B1B1B;
$fullblack: #000000;
$red:       #FF2800;
$yellow:    #FF9900;

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: $darkgrey;
    box-shadow: inset 0 0 2px $fullblack;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 6px;
}

::selection, ::-moz-selection {
    color: $white;
    background: $darkgrey;
}