.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerfooter {
    width: 100%;
    height: 64px;
    background-color: $black;
    box-shadow: 0 0 15px $fullblack;
}

.component{
    box-shadow: 0 0 15px $fullblack;
    background-color: $black;
}

a.button{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid $white;
    margin-right: 8px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color:$white;
    text-align: center;
    transition: all 0.2s;
    &:hover{
        color: $black;
        background-color: $white;
    }
}

/*.tooltip {
    @extend p;
    position: relative;
    display: inline-block;
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: $grey;
        color:$white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $grey transparent transparent transparent;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}*/