.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.component{
    box-shadow: 0 0 15px $fullblack;
    color: $white;
    background-color: $black;
}

a.button{
    display: inline-block;
    color: $white;
    padding: 0.35em 1.2em;
    margin: 8px 12.81px;
    border: 0.1em solid $white;
    border-radius: 0.12em;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    &:hover{
        color: $black;
        background-color: $white;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
        font-size: 14px;
        visibility: hidden;
        width: 100px;
        background-color: $white;
        color:$black;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 70%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $white transparent transparent transparent;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    div:nth-child(2) {
        animation-delay: -0.5s;
    }
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
  