@import "_config.scss";
@import "_utilities.scss";

html {
    color: $white;
    background-color: $darkgrey;
    scroll-behavior: smooth;
}

header {
    @extend .flexContainer;
    @extend .component;
    justify-content: left;
    opacity: 98.5%;
    top: 0;
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 100;
    i{
        color: $white;
        padding: 8px;
        margin: 0 6px;
    }
}

main {
    @extend .flexContainer;
    flex-flow: column wrap;
    margin: 96px 0 64px 0;
    width: 100%;
    min-height: 800px;
    
    /*background-image: url("../public/dependencies/backgrounds/rainy.jpg");
    background-repeat: no-repeat;*/

    section{
        border-radius: 6px;
        width: 374px;
    }

    #currentWeather{
        @extend .component;
        padding: 18px 34px;
        
        text-align: center;
        h1{
            font-size: 45px;
            font-weight: 300px;
            text-align: left;
        }
        p{
            position: relative;
            font-size: 18px;
            text-align: left;
            top: -9px;
            left: 2px;
            color: $grey;
        }
        img{
            width: 70px;
            height: 70px;
            float: left;
        }
        var{
            float: left;
            height: 100%;
            font-size: 45.5px;
        }
        span{
            color: $grey;
            width: 125px;
            height: 23.3px;
            float: right;
            text-align: right;
            font-size: 14px;
        }
    }
    #currentInfo, #additionalInfo{
        @extend .component;
        padding: 18px 34px;
        margin-top: 30px;
        font-size: 38px;
        text-align: center;
        div{
            width: 301px;
            height: 61px;
            label{
                @extend .tooltip;
                @extend .flexContainer;
                float: left;
                height: 100%;
                width: 48px;
                i{
                    @extend .flexContainer;
                    height: 100%;
                    width: 100%;
                }
                .fa-tint     {color: #17E2F2;}
                .fa-sun      {color: #FDB813;}
                .fa-wind     {color: #BFBEB9;}
                .fa-glasses  {color: $white;}
                .fa-car      {color: #2976bb;}
                .fa-running  {color: #5BC236;}
                .fa-arrow-up {color: $white;}
                .fa-smog     {color: $grey;}
                .moonImg{
                    height: 38px;
                    width: 38px;
                    margin: 10px 5px 10px 5px;
                }
                span{
                    @extend .tooltiptext;
                }
            }
            var{
                float: right;
                height: 100%;
            }
        }
    }
    #hourlyWeather{
        @extend .flexContainer;

        overflow: auto;
        white-space: nowrap;
        div{
            @extend .component;
            @extend .flexContainer;
            flex-flow: column wrap;
            justify-content: center;
            border-radius: 6px;
            margin-top: 30px;
            margin-bottom: 8px;
            margin-left: 18px;
            color: $white;
            width: 80px;
            height: 135px;

            label{
                width: 100%;
                text-align: center;
            }
            samp{
                @extend .tooltip;
                height: 50px;
                img{
                    padding: 0 15px 0 15px;
                }
                span{
                    @extend .tooltiptext;
                }
            }
            label[for=rain]{
                color: $grey;
                .fa-tint{
                    color: #305EBE;
                    margin: 2px;
                }
            }
        }    
    }
    #dailyWeather{
        margin-top: 30px;
        div{
            @extend .component;
            @extend .flexContainer;
            flex-flow: column wrap;
            justify-content: center;
            width: 374px;
            height: 60px;
            margin-bottom: 17px;
            border-radius: 6px;
            label[for=weekday]{
                float: left;
                width: 79px;
                font-size: 18px;
            }

            samp{
                height: 60px;
                @extend .tooltip;
                img{
                    width: 60px;
                    height: 60px;
                }
                span{
                    @extend .tooltiptext;
                }
            }

            label[for=temp], label[for=rain]{
                @extend .flexContainer;
                text-align: justify;
                width: 80px;
                height: 24px;
            }
            label[for=rain]{
                color: $grey;
                .fa-tint{
                    color: #305EBE;
                    margin: 2px;
                }
            }
        }
    }
}

footer {
    @extend .flexContainer;
    @extend .component;
    bottom: 0;
    width: 100%;
    height: 64px;
    p{
        font-size: 16px;
    }
}

@media screen and (min-width: 1900px) {

    /*main{
        flex-flow: row wrap;
    }*/
}