@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #292929;
  -webkit-box-shadow: inset 0 0 2px #000000;
          box-shadow: inset 0 0 2px #000000;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #F1F1F1;
  border-radius: 6px;
}

.flexContainer, header, main, main #currentInfo div label, main #additionalInfo div label, main #currentInfo div label i, main #additionalInfo div label i, main #hourlyWeather, main #hourlyWeather div, main #dailyWeather div, main #dailyWeather div label[for=temp], main #dailyWeather div label[for=rain], footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component, header, main #currentWeather, main #currentInfo, main #additionalInfo, main #hourlyWeather div, main #dailyWeather div, footer {
  -webkit-box-shadow: 0 0 15px #000000;
          box-shadow: 0 0 15px #000000;
  color: #F1F1F1;
  background-color: #1B1B1B;
}

a.button {
  display: inline-block;
  color: #F1F1F1;
  padding: 0.35em 1.2em;
  margin: 8px 12.81px;
  border: 0.1em solid #F1F1F1;
  border-radius: 0.12em;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.button:hover {
  color: #1B1B1B;
  background-color: #F1F1F1;
}

.tooltip, main #currentInfo div label, main #additionalInfo div label, main #hourlyWeather div samp, main #dailyWeather div samp {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext, main #currentInfo div label .tooltiptext, main #additionalInfo div label .tooltiptext, main #hourlyWeather div samp .tooltiptext, main #dailyWeather div samp .tooltiptext, main #currentInfo div label span, main #additionalInfo div label span, main #hourlyWeather div samp span, main #dailyWeather div samp span {
  font-size: 14px;
  visibility: hidden;
  width: 100px;
  background-color: #F1F1F1;
  color: #1B1B1B;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 70%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after, main #currentInfo div label .tooltiptext::after, main #additionalInfo div label .tooltiptext::after, main #hourlyWeather div samp .tooltiptext::after, main #dailyWeather div samp .tooltiptext::after, main #currentInfo div label span::after, main #additionalInfo div label span::after, main #hourlyWeather div samp span::after, main #dailyWeather div samp span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #F1F1F1 transparent transparent transparent;
}

.tooltip:hover .tooltiptext, main #currentInfo div label:hover .tooltiptext, main #additionalInfo div label:hover .tooltiptext, main #hourlyWeather div samp:hover .tooltiptext, main #dailyWeather div samp:hover .tooltiptext, .tooltip:hover main #currentInfo div label span, main #currentInfo div label .tooltip:hover span, main #currentInfo div label:hover span, .tooltip:hover main #additionalInfo div label span, main #additionalInfo div label .tooltip:hover span, main #additionalInfo div label:hover span, .tooltip:hover main #hourlyWeather div samp span, main #hourlyWeather div samp .tooltip:hover span, main #hourlyWeather div samp:hover span, .tooltip:hover main #dailyWeather div samp span, main #dailyWeather div samp .tooltip:hover span, main #dailyWeather div samp:hover span {
  visibility: visible;
  opacity: 1;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

html {
  color: #F1F1F1;
  background-color: #292929;
  scroll-behavior: smooth;
}

header {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  opacity: 98.5%;
  top: 0;
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 100;
}

header i {
  color: #F1F1F1;
  padding: 8px;
  margin: 0 6px;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 96px 0 64px 0;
  width: 100%;
  min-height: 800px;
  /*background-image: url("../public/dependencies/backgrounds/rainy.jpg");
    background-repeat: no-repeat;*/
}

main section {
  border-radius: 6px;
  width: 374px;
}

main #currentWeather {
  padding: 18px 34px;
  text-align: center;
}

main #currentWeather h1 {
  font-size: 45px;
  font-weight: 300px;
  text-align: left;
}

main #currentWeather p {
  position: relative;
  font-size: 18px;
  text-align: left;
  top: -9px;
  left: 2px;
  color: #808080;
}

main #currentWeather img {
  width: 70px;
  height: 70px;
  float: left;
}

main #currentWeather var {
  float: left;
  height: 100%;
  font-size: 45.5px;
}

main #currentWeather span {
  color: #808080;
  width: 125px;
  height: 23.3px;
  float: right;
  text-align: right;
  font-size: 14px;
}

main #currentInfo, main #additionalInfo {
  padding: 18px 34px;
  margin-top: 30px;
  font-size: 38px;
  text-align: center;
}

main #currentInfo div, main #additionalInfo div {
  width: 301px;
  height: 61px;
}

main #currentInfo div label, main #additionalInfo div label {
  float: left;
  height: 100%;
  width: 48px;
}

main #currentInfo div label i, main #additionalInfo div label i {
  height: 100%;
  width: 100%;
}

main #currentInfo div label .fa-tint, main #additionalInfo div label .fa-tint {
  color: #17E2F2;
}

main #currentInfo div label .fa-sun, main #additionalInfo div label .fa-sun {
  color: #FDB813;
}

main #currentInfo div label .fa-wind, main #additionalInfo div label .fa-wind {
  color: #BFBEB9;
}

main #currentInfo div label .fa-glasses, main #additionalInfo div label .fa-glasses {
  color: #F1F1F1;
}

main #currentInfo div label .fa-car, main #additionalInfo div label .fa-car {
  color: #2976bb;
}

main #currentInfo div label .fa-running, main #additionalInfo div label .fa-running {
  color: #5BC236;
}

main #currentInfo div label .fa-arrow-up, main #additionalInfo div label .fa-arrow-up {
  color: #F1F1F1;
}

main #currentInfo div label .fa-smog, main #additionalInfo div label .fa-smog {
  color: #808080;
}

main #currentInfo div label .moonImg, main #additionalInfo div label .moonImg {
  height: 38px;
  width: 38px;
  margin: 10px 5px 10px 5px;
}

main #currentInfo div var, main #additionalInfo div var {
  float: right;
  height: 100%;
}

main #hourlyWeather {
  overflow: auto;
  white-space: nowrap;
}

main #hourlyWeather div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 8px;
  margin-left: 18px;
  color: #F1F1F1;
  width: 80px;
  height: 135px;
}

main #hourlyWeather div label {
  width: 100%;
  text-align: center;
}

main #hourlyWeather div samp {
  height: 50px;
}

main #hourlyWeather div samp img {
  padding: 0 15px 0 15px;
}

main #hourlyWeather div label[for=rain] {
  color: #808080;
}

main #hourlyWeather div label[for=rain] .fa-tint {
  color: #305EBE;
  margin: 2px;
}

main #dailyWeather {
  margin-top: 30px;
}

main #dailyWeather div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 374px;
  height: 60px;
  margin-bottom: 17px;
  border-radius: 6px;
}

main #dailyWeather div label[for=weekday] {
  float: left;
  width: 79px;
  font-size: 18px;
}

main #dailyWeather div samp {
  height: 60px;
}

main #dailyWeather div samp img {
  width: 60px;
  height: 60px;
}

main #dailyWeather div label[for=temp], main #dailyWeather div label[for=rain] {
  text-align: justify;
  width: 80px;
  height: 24px;
}

main #dailyWeather div label[for=rain] {
  color: #808080;
}

main #dailyWeather div label[for=rain] .fa-tint {
  color: #305EBE;
  margin: 2px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 64px;
}

footer p {
  font-size: 16px;
}

@media screen and (min-width: 1900px) {
  /*main{
        flex-flow: row wrap;
    }*/
}
/*# sourceMappingURL=main.css.map */